/*------FOLDERS------*/

zen-folder:not([collapsed], [has-active]) {
  border-radius: 22px;
  transition: opacity 0.3s ease;
}

.tab-group-container {
  border: none !important;
  padding-top: 4px !important;
  margin-bottom: 4px !important;
  margin-inline: 36px 10px !important;
  border-radius: 0 0 16px 16px !important;
}

/* Hide container when folder is collapsed */
zen-folder[collapsed] .tab-group-container {
  display: none !important;
}

zen-folder {
  transition: all 0.3s ease-out !important;
}

.tab-group-label-container:not(pinned):not(.zen-drop-target) {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
}

.tab-group-label-container:not(pinned):not(.zen-drop-target) .tab-group-label {
  position: relative !important;
  z-index: 1 !important;
  display: flex !important;
  align-items: center !important;
  padding: 2px 12px 2px 12px !important;
  flex-shrink: 0 !important;
  white-space: nowrap !important;
  font-size: 11px !important;
  overflow: visible !important;
  border-radius: 999px !important;
  text-align: center !important;
}

.tab-group-label-container:not(pinned):not(.zen-drop-target) .tab-group-label::after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 100% !important;
  right: auto !important;
  width: 999px !important;
  height: 1.5px !important;
  background: var(--tab-group-color, currentColor) !important;
  opacity: 0.3 !important;
  z-index: 0 !important;
  pointer-events: none !important;
}
