/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* ==========================================================================
Initial Setup & Layout Changes for Vertical Tabs
========================================================================== */

#tabbrowser-tabs,
#TabsToolbar,
#titlebar,
#TabsToolbar-customization-target {
  flex-direction: column;
  height: 100%;
}

#zen-appcontent-navbar-container {
  width: 100%;
}

#pinned-drop-indicator,
#drag-to-pin-promo-card {
  /* We dont use this firefox feature */
  display: none !important;
}

/* ==========================================================================
Single Toolbar Mode Specific Styles (`zen-single-toolbar='true'`)
========================================================================== */
:root[zen-single-toolbar="true"] {
  /* stylelint-disable-next-line media-query-no-invalid */
  @media (-moz-platform: macos) and (not -moz-pref("zen.view.mac.show-three-dot-menu")) {
    &:not([customizing]) #PanelUI-button:not([open]):not([panelopen]) {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }

  & #zen-appcontent-navbar-wrapper,
  & #zen-sidebar-top-buttons {
    height: var(--zen-toolbar-height);
  }

  & #zen-sidebar-top-buttons-separator {
    width: 100%;
  }
}

/* ==========================================================================
Vertical Tabs Mode Specific Styles (`zen.tabs.vertical` pref)
========================================================================== */

/* stylelint-disable-next-line media-query-no-invalid */
@media -moz-pref("zen.tabs.vertical") {
  :root:not([zen-window-buttons-reversed="true"]) {
    & .titlebar-buttonbox-container {
      margin-left: auto;
      width: fit-content;
    }

    &:root[zen-right-side="true"] #zen-sidebar-top-buttons .titlebar-buttonbox-container {
      margin-right: calc(-1 * var(--zen-toolbox-padding));
    }
  }
}

:root[zen-window-buttons-reversed="true"] .titlebar-buttonbox-container {
  margin-right: auto;
  width: fit-content;
}

#TabsToolbar > * {
  justify-content: center;
}

/* ==========================================================================
Toolbox Padding & Variables
========================================================================== */
#tabbrowser-arrowscrollbox {
  height: 100%;
}

#browser {
  --zen-min-toolbox-padding: 5px;
  @media (-moz-platform: macos) {
    --zen-min-toolbox-padding: 6px;
  }

  --zen-toolbox-padding: var(--zen-min-toolbox-padding);
}

/* ==========================================================================
Single Toolbar Mode - Further Layout Adjustments
========================================================================== */
:root[zen-single-toolbar="true"] {
  #urlbar-container {
    width: -moz-available !important;
  }

  & #urlbar-container[breakout="true"]:has(#urlbar[zen-floating-urlbar="true"]) {
    --urlbar-container-height: 36px !important;
    --urlbar-height: 38px !important;
  }

  & #nav-bar {
    & toolbarspring {
      display: none;
    }
  }

  & #zen-sidebar-top-buttons {
    margin: calc(var(--zen-toolbox-padding) / 2) 0;
    :root[zen-right-side="true"]:not([zen-window-buttons-reversed="true"]) & {
      margin-top: 0;
    }
  }

  & #PanelUI-menu-button {
    padding: 0 !important;
  }
}

/* ==========================================================================
Pinned Tabs Separator
========================================================================== */
.pinned-tabs-container-separator {
  height: 22px;
  border: none;
  width: 100%;

  @media not (prefers-reduced-motion: reduce) {
    transition:
      height 0.08s ease-in-out,
      padding 0.08s ease-in-out,
      opacity 0.06s ease-in-out;
  }

  overflow: hidden;
  position: relative;
  opacity: 1;
  align-items: center;

  @media (-moz-platform: macos) {
    padding: 0 5px;
  }

  & toolbarseparator {
    height: 1px;
    background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    padding: 0;
    margin: auto 4px;

    &::before {
      border-inline-start: none;
    }
  }

  #tabbrowser-tabs[movingtab] & {
    transition:
      height 0.08s ease-in-out,
      padding 0.08s ease-in-out,
      opacity 0.06s ease-in-out,
      transform 0.1s ease-in-out;
  }

  .zen-workspace-pinned-tabs-section[hide-separator] & {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
  }

  & toolbarbutton {
    appearance: none;
    opacity: 0;
    visibility: collapse;
    transition:
      opacity 0.15s,
      visibility 0.15s;
    font-size: 10px;
    font-weight: 500;
    gap: 2px;

    #navigator-toolbox[zen-has-implicit-hover="true"] & {
      visibility: visible;
      opacity: 0.5;
    }

    &:hover {
      opacity: 1 !important;
    }

    :root:not([zen-sidebar-expanded="true"]) & {
      display: none;
    }

    & .toolbarbutton-text {
      display: flex;
    }

    & .toolbarbutton-icon {
      width: 10px;
      transition: transform 0.15s ease-in-out;
      transform: translateY(0);

      @starting-style {
        transform: translateY(-2px);
      }
    }

    &:active:hover .toolbarbutton-icon {
      transform: translateY(2px);
    }
  }
}

:root[zen-unsynced-window="true"] & {
  display: none !important;
}

/* ==========================================================================
Navigator Toolbox (Main Sidebar Container) Base Styles
========================================================================== */
#navigator-toolbox {
  /* Define theme variables, including platform specifics for native look */
  --border-radius-medium: 99px;
  --tab-border-radius: 99px;
  --zen-toolbox-min-width: 1px;

  @media (-moz-platform: windows) {
    --border-radius-medium: 6px;
    --tab-border-radius: 4px;
  }

  @media (-moz-platform: macos) {
    --border-radius-medium: 12px;
    --tab-border-radius: 8px;
  }

  min-width: var(--zen-toolbox-min-width);
  margin-top: 0 !important;
  border: none;
  order: 0 !important;
  display: flex;
}

/* Hide default titlebar spacers */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none;
}

/* ==========================================================================
Tabs Toolbar Customization Target
========================================================================== */
#TabsToolbar-customization-target {
  position: relative;
  max-width: 100%;
  gap: 0;

  &::after {
    content: "";
    display: block;
    height: 1px;
    margin: 0 auto;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: calc(-1 * var(--zen-toolbox-padding));
  }

  & > * {
    border-top-width: 0 !important;
  }
}

#vertical-tabs-newtab-button {
  &:hover,
  &:not(:is(:hover, :active)) .toolbarbutton-icon {
    background: transparent !important;
  }
}

#tabbrowser-tabs {
  margin-inline-start: 0px !important;
  padding-inline-start: 0 !important;
  overflow-y: unset !important;
  overflow-x: clip;
  overflow-clip-margin: var(--zen-toolbox-padding);

  --focus-outline-color: transparent;

  @media (-moz-platform: macos) {
    font-size: 1.25rem; /* Slightly larger font on macOS */
  }

  --tab-inner-inline-margin: 0;

  position: relative;
  border-bottom: 0 solid transparent !important;

  --tab-block-margin: 2px;
  grid-gap: 0 !important;

  &[overflow]::after,
  #vertical-tabs-newtab-button,
  #vertical-pinned-tabs-splitter {
    display: none !important;
  }

  & .tabbrowser-tab {
    @media not (prefers-reduced-motion: reduce) {
      &, 
      & .tab-content > image {
        transition:
          scale 0.1s ease,
          var(--zen-tabbox-element-indent-transition);
      }
    }

    :root[zen-sidebar-expanded="true"] &:not([zen-glance-tab]) {
      margin-inline-start: var(--zen-folder-indent) !important;
    }

    &[zen-empty-tab] {
      display: none;
    }

    :root:not([zen-renaming-tab="true"])
      #tabbrowser-tabs:not([movingtab])
      &:active:not(:has(.tab-content > image:active)) {
      scale: var(--zen-active-tab-scale);
      rotate: 0.01deg; /* Subtle rotation to trigger GPU acceleration and prevent blurriness */
    }

    :root:not([zen-renaming-tab="true"])
      #tabbrowser-tabs:not([movingtab])
      & .tab-content > image:active {
      scale: 0.97;
    }

    & .tab-icon-image {
      -moz-context-properties: fill, stroke, fill-opacity;
      fill-opacity: 0.5;
      border-radius: 4px;

      &:not([src]),
      &:-moz-broken {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3C/svg%3E") !important;
        background: color-mix(in srgb, var(--zen-primary-color) 80%, light-dark(rgb(0, 0, 0), rgb(255, 255, 255)));
        opacity: 0.5;
      }
    }

    max-width: unset;
    padding: 0 !important;
    position: relative;

    & .tab-background {
      overflow: hidden;
      border-radius: var(--border-radius-medium) !important;

      & .tab-context-line {
        margin: 0 0 !important;
        width: 3px !important;
      }
    }

    /* --- Glance Tab Styles (Nested .tabbrowser-tab) --- */
    & .tabbrowser-tab {
      pointer-events: none;
      margin: 0 0 0 4px !important;
      --toolbarbutton-padding-inner: 0;
      --border-radius-medium: 8px;
      width: var(--size-item-medium);
      height: var(--size-item-medium);
      --tab-min-height: 24px;
      --tab-min-width: 24px;

      & .tab-background {
        background: var(--zen-toolbar-element-bg) !important;
        margin-block: 0 !important;
        margin-inline: 0 !important;
        box-shadow: none !important;
        border-radius: calc(var(--border-radius-medium) - 2px);
      }

      & .tab-content {
        padding: 0 5px;
      }

      & label,
      & .tab-close-button,
      & .tab-reset-button,
      & .tab-reset-pin-button {
        display: none !important;
      }

      /* Style glance tab icon */
      & .tab-icon-image {
        --toolbarbutton-padding-inner: 0 !important;
        width: 14px;
        height: 14px;
      }

      & .tab-audio-button {
        display: none !important;
      }

      &[soundplaying]:not([muted]) .tab-icon-stack::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        background: url("chrome://browser/content/zen-images/note-indicator.svg") no-repeat;
        top: -70%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        pointer-events: none;
        transition: opacity 0.8s ease;
        opacity: 1;
      }
    }

    /* --- Essentials Glance Tab Specifics (Floating) --- */
    /* Additional styles for glance tabs in "essential" mode */
    &[zen-essential="true"] .tabbrowser-tab {
      position: absolute;
      top: 0;
      right: 0;

      --tab-collapsed-width: 34px;
      --tab-min-height: 16px;
      width: var(--tab-collapsed-width) !important;
      z-index: 1;
      pointer-events: none;

      & .tab-background {
        background: light-dark(rgb(249, 249, 249), rgb(63, 63, 63)) !important;
        border: 2px solid light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
      }
    }
  }
}

#zen-sidebar-foot-buttons {
  background: transparent;
  gap: 5px;
  align-items: center;

  & > toolbarbutton:not(#zen-workspaces-button) {
    padding: 0 !important;
  }
}

#tabbrowser-arrowscrollbox {
  &::part(scrollbox) {
    gap: 0 !important;
  }

  &::part(overflow-start-indicator),
  &::part(overflow-end-indicator) {
    display: none !important;
  }
}

#zen-tabs-wrapper {
  min-height: fit-content;
  overflow-y: auto;
  height: 100%;

  :root[zen-sidebar-expanded="true"] & {
    margin-left: calc(-1 * var(--zen-toolbox-padding));
    width: calc(100% + var(--zen-toolbox-padding) * 2);
  }
}

#pinned-tabs-container {
  display: none;
}

.zen-tab-sublabel {
  pointer-events: none;
  transition:
    opacity 0.1s ease-in-out,
    margin 0.1s ease-in-out,
    max-height 0.1s ease-in-out;
  max-height: 0;
  opacity: 0;
  transform: translateY(-4px);
  font-size: x-small;
  margin: 0;
}

.tabbrowser-tab[zen-show-sublabel] {
  & .tab-label-container .zen-tab-sublabel {
    max-height: 10px;
    opacity: 0.5;
  }
}

:root:not([zen-sidebar-expanded="true"]) #zen-sidebar-splitter {
  display: none !important;
}

#zen-sidebar-splitter {
  opacity: 0;
  max-width: var(--zen-toolbox-padding) !important;
  min-width: var(--zen-toolbox-padding) !important;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  background: var(--zen-colors-border);
  appearance: none;
  position: relative !important;
  order: 0;
}

:root[zen-right-side="true"] {
  & #navigator-toolbox {
    order: 10 !important;
  }

  & #zen-sidebar-splitter {
    order: 9 !important;
  }
}