/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* ==========================================================================
Navigator Toolbox (Main Sidebar Container) Base Styles - Continued
========================================================================== */

:root:not([zen-sidebar-expanded="true"]) {
  --tab-min-width: 48px !important;
  --zen-toolbox-padding: 6px !important;
  --zen-toolbox-max-width: calc(var(--tab-min-width) + var(--zen-toolbox-padding) * 2);
}

#navigator-toolbox:not([zen-sidebar-expanded="true"]) {
  max-width: var(--zen-toolbox-max-width) !important;
  min-width: var(--zen-toolbox-max-width) !important;
  padding-bottom: var(--zen-toolbox-padding);

  & .zen-current-workspace-indicator-name,
  & zen-workspace .toolbarbutton-text {
    display: none !important;
  }

  & .zen-current-workspace-indicator {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;

    & .zen-workspaces-actions {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:is([open="true"], :hover) .zen-current-workspace-indicator-icon {
      display: none;
    }
  }

  & .zen-essentials-container {
    justify-content: center;
    grid-template-columns: 1fr !important;
    padding: 0 !important;
    max-width: var(--zen-sidebar-width) !important;
    min-width: unset !important;
    width: 100% !important;
  }

  & #zen-essentials {
    margin-left: unset !important;
  }

  & #vertical-tabs-newtab-button {
    padding: 0 !important;
    background: transparent !important;
  }

  :root[customizing] & #zen-sidebar-foot-buttons {
    min-width: unset !important;
  }

  #zen-sidebar-foot-buttons {
    & > .toolbarbutton-1,
    & .toolbarbutton-badge-stack {
      min-height: var(--tab-min-height);
      line-height: var(--tab-label-line-height);
      border-radius: var(--border-radius-medium);
      padding: 0 calc(var(--tab-inline-padding) - var(--tab-inner-inline-margin));

      &.toolbarbutton-badge-stack {
        justify-content: center;
        padding: 8px;
        width: var(--tab-collapsed-background-width);
      }

      &.toolbarbutton-1 {
        width: var(--tab-collapsed-background-width);
        margin-inline: var(--tab-inner-inline-margin);
      }
    }
  }

  & #zen-sidebar-top-buttons {
    justify-content: center;
    max-height: unset !important;
    height: fit-content !important;
  }

  & #titlebar {
    display: grid;
  }

  & #zen-sidebar-top-buttons-customization-target {
    flex-direction: column;
  }

  & #zen-sidebar-foot-buttons {
    display: flex;
    flex-direction: column;
    padding-top: var(--zen-element-separation);
    align-items: center;
  }

  & #tabbrowser-arrowscrollbox-periphery {
    & > toolbarbutton {
      margin-left: auto !important;
      margin-right: auto !important;

      & image {
        width: 100%;
      }
    }

    &::before {
      width: 90% !important;
    }
  }

  & #EssentialsToolbar,
  & #essentials-accordion-header {
    display: none !important;
  }

  & #TabsToolbar-customization-target {
    padding-bottom: var(--zen-toolbox-padding);
    &::after {
      bottom: -1px !important;
    }
  }

  & #tabbrowser-tabs {
    & .tabbrowser-tab {
      margin: 0 auto;

      & .tab-background {
        margin-inline: auto !important;
      }

      & .tab-reset-button,
      & .tab-reset-pin-button {
        display: none !important;
      }

      & .tab-content {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0 !important;

        & .tab-label-container {
          display: none !important;
        }

        & .tab-icon-image,
        & .tab-icon-pending {
          margin-inline-end: 0 !important;
        }

        & .tabbrowser-tab {
          display: none !important;
        }
      }
    }

    & .tab-throbber,
    & .tab-icon-pending,
    & .tab-icon-image,
    & .tab-sharing-icon-overlay,
    & .tab-icon-overlay {
      margin-inline-end: 0 !important;
    }
  }

  & #zen-workspaces-button {
    flex-direction: column;
  }
}

#zen-sidebar-top-buttons {
  order: -1;
  min-width: unset !important;

  :root[zen-sidebar-expanded="true"] & {
    --toolbarbutton-padding-inner: var(--zen-toolbar-button-inner-padding) !important;
  }

  :root[zen-single-toolbar="true"] & {
    --zen-toolbar-height: 36px;
    @media (-moz-platform: macos) {
      --zen-toolbar-height: 38px;
    }

    & #PanelUI-button {
      order: -2;
    }
  }

  & #zen-sidebar-top-buttons-customization-target {
    height: 100%;
    align-items: center;

    #nav-bar & {
      padding-inline-end: var(--toolbarbutton-padding-outer);
    }

    :root:not([zen-sidebar-expanded="true"]) & toolbarspring {
      display: none;
    }
  }

  & .zen-sidebar-action-button {
    padding: 0 !important;
    & label {
      display: none !important;
    }
  }
}

#tabs-newtab-button {
  display: none;
  font-weight: 500;
  -moz-user-focus: ignore !important;
}

/* stylelint-disable-next-line media-query-no-invalid */
@media -moz-pref("zen.tabs.show-newtab-vertical") {
  #tabs-newtab-button {
    max-height: var(--tab-min-height);
    display: flex !important;
    transition: scale 0.1s ease;
    #tabbrowser-tabs[movingtab] & {
      transition: transform 0.1s ease;
    }

    & .toolbarbutton-text {
      align-items: center;
      padding-top: 0;
    }

    &:active,
    &[open] {
      scale: 0.985;
    }

    &[in-urlbar] {
      background: var(--tab-background-color-selected) !important;
      box-shadow: var(--tab-selected-shadow);
    }
  }

  #tabbrowser-arrowscrollbox-periphery {
    @media not (prefers-color-scheme: dark) {
      --zen-colors-border: var(--zen-colors-tertiary);
    }

    /* stylelint-disable-next-line media-query-no-invalid */
    @media -moz-pref("zen.view.show-newtab-button-top") {
      order: -1;
    }
  }
}