/*------WORKSPACE SELECTOR------*/

#zen-workspaces-button:not([icons-overflow="true"]) {
  position: relative !important;
  gap: 0 !important;
  transform: scale(0.7) !important;
  border: none !important;
  border-radius: 999px !important;
  padding: 3px !important;
  container-type: initial !important;
  width: auto !important;
  display: flex !important;
  align-items: center !important;
  background: light-dark(
    color-mix(in srgb, var(--zen-colors-primary, var(--zen-primary-color)) 8%, white),
    color-mix(in srgb, var(--zen-colors-primary, var(--zen-primary-color)) 8%, black)
  ) !important;
  transition: transform 0.15s cubic-bezier(0.25, 0.1, 0.25, 1) !important;

  &:hover {
    transform: scale(1) !important;
  }

  &::before {
    content: "" !important;
    position: absolute !important;
    top: 3px !important;
    left: 3px !important;
    width: 30px !important;
    height: calc(100% - 6px) !important;
    border-radius: 999px !important;
    background: var(--livs-acc) !important;
    pointer-events: none !important;
    z-index: 0 !important;
    transition: translate 0.12s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transform-origin: center center !important;
  }

  &:has(.subviewbutton:nth-child(1)[active="true"])::before {
    translate: 0px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(2)[active="true"])::before {
    translate: 30px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(3)[active="true"])::before {
    translate: 60px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(4)[active="true"])::before {
    translate: 30px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(5)[active="true"])::before {
    translate: 120px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(6)[active="true"])::before {
    translate: 150px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(7)[active="true"])::before {
    translate: 180px !important;
    animation: zen-stretch 0.15s ease !important;
  }
  &:has(.subviewbutton:nth-child(8)[active="true"])::before {
    translate: 210px !important;
    animation: zen-stretch 0.15s ease !important;
  }

  & .subviewbutton {
    min-width: 30px !important;
    position: static !important;
    z-index: 1 !important;
    transition: all 0.1s ease !important;
    border-radius: 999px !important;
    background: transparent !important;

    &[active="true"] {
      background: transparent !important;
    }

    &:not([active="true"]) .zen-workspace-icon {
      transform: scale(0) !important;
    }

    > .zen-workspace-icon {
      transition: all 0.1s ease !important;
      transform: scale(1.2) !important;
    }

    &:not([active="true"]):hover {
      background: transparent !important;
    }

    &:not([active="true"]):hover > .zen-workspace-icon {
      transform: scale(1) !important;
      filter: grayscale(1) !important;
    }

    &:not([active="true"])::after {
      position: absolute !important;
      content: "" !important;
      width: 5px !important;
      height: 5px !important;
      border-radius: 999px !important;
      background-color: var(--livs-acc) !important;
    }
  }
}

#zen-workspaces-button[icons-overflow="true"] {
  width: 300px !important;
}
